/* Commentaires*/

h2 {
  color: rgb(114, 114, 168);
}

h3 {
  color: rgb(51, 51, 175);
}

body {
  background-color: rgb(255, 250, 242);
  text-align: center;
}
.statut {
  color: black;
  text-decoration: underline;
}

.competences {
  font-weight: bold;
}

.picSkills {
  display: inline;
}
ul {
  display: flex;
  justify-content: space-around;
}
li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
